<form name="ServicoForm" gumga-form novalidate>
    <div class="full-width-without-padding">

        <!--nome class java.lang.String-->
        <label for="nome"  gumga-translate-tag="servico.nome"></label>
        <div ng-class="{'form-group':ServicoForm.nome.$pristine,'form-group has-error': ServicoForm.nome.$invalid,'form-group has-success': ServicoForm.nome.$valid}">
        <input id="nome" gumga-error gumga-required type="text" name="nome" ng-model="entity.nome"  class="form-control" />
        </div>
        <!--codigoUniversal class java.lang.String-->
        <label for="codigoUniversal"  gumga-translate-tag="servico.codigoUniversal"></label>
        <div ng-class="{'form-group':ServicoForm.codigoUniversal.$pristine,'form-group has-error': ServicoForm.codigoUniversal.$invalid,'form-group has-success': ServicoForm.codigoUniversal.$valid}">
        <input id="codigoUniversal" gumga-error type="text" name="codigoUniversal" ng-model="entity.codigoUniversal"  class="form-control" />
        </div>

        <gumga-errors placement="right" icon="glyphicon glyphicon-question-sign" label="Lista de erros" title="Lista de erros"></gumga-errors>
        <gumga-form-buttons
                back="servico.list"
                submit="servicoUpdate(entity)"
                position="right"
                valid="ServicoForm.$valid"
                continue="continue">
        </gumga-form-buttons>
    </div>
</form>