<div class="col-md-12">
   <h3 style="margin-top: 0" gumga-translate-tag="servico.title"></h3>
    <div class="col-md-5" style="padding-left: 0">
        <a ui-sref="servico.insert" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</a>
        <button type="button" class="btn btn-danger" ng-click="servicoDelete(selectedEntities)"><i class="glyphicon glyphicon-trash"></i> Delete        </button>
    </div>
    <div class="col-md-7" style="padding-right: 0">
        <gumga-search fields="nome,codigoUniversal"
                       advanced="true"
                       search-method="servicoSearch(field,param)"
                      advanced-method="servicoAdvancedSearch(param)"
                       translate-entity=" servico">
            <advanced-field name="id" type="number"></advanced-field>
         <advanced-field name="nome" type="string"></advanced-field>
         <advanced-field name="codigoUniversal" type="string"></advanced-field>
        </gumga-search>
    </div>
        <gumga-table
            translate-entity="servico"
            name="servico"
            values="Servico.content.data.values"
            columns="nome,codigoUniversal"
            sort-function="sort(field,way)"
            >
            <buttons-column>
            <a ui-sref="servico.edit({id: entity.id})" class="btn btn-link pull-right">Edit</a>
            </buttons-column>
        </gumga-table>

    <div class="full-width-without-padding">
        <pagination ng-model="page"
                    items-per-page="Servico.content.data.pageSize"
                    total-items="Servico.content.data.count"
                    ng-change="get()"></pagination>
    </div>

</div>
