<div class="col-md-12">
    <h3 style="margin-top: 0" gumga-translate-tag="cliente.title"></h3>
    <div class="col-md-5" style="padding-left: 0">
        <a ui-sref="cliente.insert" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</a>
        <button type="button" class="btn btn-danger" ng-click="clienteDelete(selectedEntities)"><i class="glyphicon glyphicon-trash"></i> Delete        </button>
    </div>
    <div class="col-md-7" style="padding-right: 0">
        <gumga-search fields="nome,email,telefone,endereco,ativo,cnpj,url"
                      advanced="true"
                      search-method="clienteSearch(field,param)"
                      advanced-method="clienteAdvancedSearch(param)"
                      translate-entity=" cliente">
            <advanced-field name="id" type="number"></advanced-field>
            <advanced-field name="nome" type="string"></advanced-field>
            <advanced-field name="email" type="string"></advanced-field>
            <advanced-field name="telefone" type="string"></advanced-field>
            <advanced-field name="endereco" type="string"></advanced-field>
            <advanced-field name="ativo" type="boolean"></advanced-field>
            <advanced-field name="cnpj" type="string"></advanced-field>
            <advanced-field name="url" type="string"></advanced-field>
        </gumga-search>
    </div>
    <div class="col-md-12">
        <gumga-queries save-query="clienteSaveQuery(query,name)"></gumga-queries>

    </div>
    <gumga-table
        translate-entity="cliente"
        name="cliente"
        values="Cliente.content.data.values"
        columns="nome,email,telefone,endereco,ativo,cnpj,url"
        sort-function="sort(field,way)"
        >
        <object-column column="email" property="email.value"></object-column>
        <object-column column="telefone" property="telefone.value"></object-column>
        <object-column column="endereco" property="endereco.localization"></object-column>
        <object-column column="ativo" property="ativo.value"></object-column>
        <object-column column="cnpj" property="cnpj.value"></object-column>
        <object-column column="url" property="url.value"></object-column>
        <buttons-column>
            <a ui-sref="cliente.edit({id: entity.id})" class="btn btn-link pull-right">Edit</a>
        </buttons-column>
    </gumga-table>

    <div class="full-width-without-padding">
        <pagination ng-model="page"
                    items-per-page="Cliente.content.data.pageSize"
                    total-items="Cliente.content.data.count"
                    ng-change="get()"></pagination>
    </div>

</div>
