<div class="col-md-12">
   <h3 style="margin-top: 0" gumga-translate-tag="produto.title"></h3>
    <div class="col-md-5" style="padding-left: 0">
        <a ui-sref="produto.insert" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</a>
        <button type="button" class="btn btn-danger" ng-click="produtoDelete(selectedEntities)"><i class="glyphicon glyphicon-trash"></i> Delete        </button>
    </div>
    <div class="col-md-7" style="padding-right: 0">
        <gumga-search fields="nome,valor,quantidade,marca"
                       advanced="true"
                       search-method="produtoSearch(field,param)"
                      advanced-method="produtoAdvancedSearch(param)"
                       translate-entity=" produto">
            <advanced-field name="id" type="number"></advanced-field>
         <advanced-field name="nome" type="string"></advanced-field>
         <advanced-field name="valor" type="money"></advanced-field>
         <advanced-field name="quantidade" type="number"></advanced-field>
         <advanced-field name="marca" type="string"></advanced-field>
        </gumga-search>
    </div>
   
   <br/><br/><br/><br/>
        <gumga-list data="Produto.content.data.values" sort="produtoSort(field,dir)" configuration="conf"></gumga-list>

    <div class="full-width-without-padding">
        <pagination ng-model="page"
                    items-per-page="Produto.content.data.pageSize"
                    total-items="Produto.content.data.count"
                    ng-change="produtoGet()"></pagination>
    </div>

</div>
