<div class="col-md-12">
   <h3 style="margin-top: 0" gumga-translate-tag="horariotrabalho.title"></h3>
    <div class="col-md-5" style="padding-left: 0">
        <a ui-sref="horariotrabalho.insert" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> New</a>
        <button type="button" class="btn btn-danger" ng-click="horariotrabalhoDelete(selectedEntities)"><i class="glyphicon glyphicon-trash"></i> Delete        </button>
    </div>
    <div class="col-md-7" style="padding-right: 0">
        <gumga-search fields="dia,horarioInicial,horarioFinal,ip4,ip6"
                       advanced="true"
                       search-method="horariotrabalhoSearch(field,param)"
                      advanced-method="horariotrabalhoAdvancedSearch(param)"
                       translate-entity=" horariotrabalho">
            <advanced-field name="id" type="number"></advanced-field>
         <advanced-field name="dia" type="string"></advanced-field>
         <advanced-field name="horarioInicial" type="string"></advanced-field>
         <advanced-field name="horarioFinal" type="string"></advanced-field>
         <advanced-field name="ip4" type="string"></advanced-field>
         <advanced-field name="ip6" type="string"></advanced-field>
        </gumga-search>
    </div>
      
      <br/><br/><br/><br/>
        <gumga-list data="HorarioTrabalho.content.data.values" sort="horariotrabalhoSort(field,dir)" configuration="conf"></gumga-list>

    <div class="full-width-without-padding">
        <pagination ng-model="page"
                    items-per-page="HorarioTrabalho.content.data.pageSize"
                    total-items="HorarioTrabalho.content.data.count"
                    ng-change="horariotrabalhoGet()"></pagination>
    </div>

</div>
